:root {
  --blue: #7791f0;
  --purple: rgba(102, 51, 153, 1);
  --light-green: rgba(46, 122, 123, 0.88);
  --green: rgba(39, 103, 104, 0.88);
  --grey: rgb(131, 133, 133);
  --grey-medium: #181818;
  --dark: rgba(20, 25, 26, 0.753);
  --dark-grey: rgb(100, 101, 101);
  --gold: #ffc700;
  --light-gold: #ffc800c4;
  --primary: var(--dark);
  --primary-dark: var(--grey-medium);
  --secondary: var(--gold);
  --gredient: linear-gradient(315deg, #fff, var(--grey));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid dodgerblue; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  margin-left: 5px;
}
